* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010101;
}

h1, h2, h3, p {
    color: #fff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.logo {
    font-family: Chewy;
}

::placeholder {
    color: #ffffff;
    opacity: 1;
}

input:focus::placeholder {
    color: transparent;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #000000 inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #ffffff;
}

@font-face {
    font-family: Chewy;
    src: url(../fonts/Chewy-Regular.ttf);
}

@font-face {
    font-family: Neucha;
    src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
    font-family: Archivo;
    src: url('../fonts/ArchivoNarrow-Regular.ttf')
}